.project-one {
    display: flex;
    flex-direction: column;
    flex: 1;

    &__design,
    &__implementation {
        display: flex;
        flex-direction: column;
        margin: 0px 40px;
    }

    &__design-requirements {
        margin-bottom: 32px;
    }

    &__design-alternatives,
    &__design-prototype {
        p {
            margin-bottom: 24px !important;
        }
    }

    &__alternatives-img,
    &__prototype-img {
        display: flex;
        justify-content: space-evenly;
        img {
            max-height: 1000px;
            width: 30vw;
            margin: 0px 8px 40px;
        }
        p {
            width: 30vw;
        }
    }

    &__prototype-paragraphs {
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    &__prototype-img {
        margin-bottom: 80px;
    }

    &__requirements-list,
    &__questions-list,
    &__answers-list {
        padding-left: 24px;
        margin-bottom: 40px;
    }

    &__questions-sublist {
        padding-left: 32px;
        margin-bottom: 40px;
    }

    &__header {
        font-size: 48px;
        text-align: center;
        margin: 40px 0px;
        color: #CE5C93;
    }

    &__subheading,
    &__super-subheading,
    p {
        margin-bottom: 8px;
    }

    &__implementation {
        .implementation {
            margin: 32px 0px;
        }

        video {
            align-self: center;
        }
    }
}