.aimplementation {
    width: 1000px;
    height: 450px;
    border: 1px solid darkslategrey;
    border-radius: 16px;;
    align-self: center;
    padding: 16px;
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;

    .MuiButtonBase-root {
        font-family: "Poppins";
        font-size: 20px;

    }

    &__home,
    &__temp-pressure {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1;
    }

    &__title {
        margin: 0px 64px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            font-size: 48px;
        }
        h2 {
            font-size: 40px;
        }
    }

    &__switch-container {
        margin-top: 32px;
        text-align: center;
        font-size: 24px;
    }

    &__switch {
        display: flex;
    }

    &__values {
        margin-left: 64px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__timer {
        display: flex;
        justify-content: center;
    }

    &__data {
        display: flex;
    }

    &__sliders {
        margin-bottom: 32px;
        flex: 1;
        :first-child {
            margin-right: 16px;
        }

        div {
            transition: none !important;
        }
    }

    &__save-profile {
        button {
            font-size: 24px;
            margin-bottom: 16px;
            border: none;
            background: #4285F4;
            color: #FAFDF3;
            padding: 8px 16px;
            border-radius: 16px;
            cursor: pointer;
        }
        button:hover {
            background: #048eff;
        }
    }

    &__profiles {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        align-items: center;

        h2 {
            margin-top: 40px;
        }

        h3 {
            margin-bottom: 24px;
        }

        button {
            font-size: 24px;
            margin-bottom: 16px;
            border: none;
            background: #4285F4;
            color: #FAFDF3;
            padding: 8px 16px;
            border-radius: 16px;
            cursor: pointer;
        }
        button:hover {
            background: #048eff;
        }
    }

    &__data-values,
    &__data-descriptions {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 16px;
        h1 {
            font-size: 40px;
        }
        h2 {
            font-size: 24px;
        }
    }

    &__value1,
    &__value2,
    &__value3 {
        flex: 1;
        text-align: center;
        margin-right: 16px;
    }

    &__connected-devices {
        display: flex;
        align-items: center;
        flex: 1;
    }

    &__bluetooth-options,
    &__bluetooth-header {
        display: flex;
    }

    &__bluetooth-header {
        margin-bottom: 16px;
    }

    &__bluetooth-options {
        flex-direction: column;
        align-items: center;
        flex: 1;

        button {
            font-size: 24px;
            margin-bottom: 16px;
            border: none;
            background: #4285F4;
            color: #FAFDF3;
            padding: 8px 16px;
            border-radius: 16px;
            cursor: pointer;
        }
        button:hover {
            background: #048eff;
        }
    }

    &__bluetooth-title {
        margin-right: 16px;
    }

    &__switch-container2 {
        text-align: center;
        font-size: 24px;
        display: flex;
    }

    &__paired-devices {
        text-decoration: underline;
        margin-bottom: 8px;
    }

    &__margin-top {
        margin-top: 16px;
    }

    &__margin-bottom {
        margin-bottom: 16px;
    }

    &__current-device {
        flex: 1;
        text-align: center;
    }
}

.blue {
    color: #4285F4;
}