.contact {
    margin: 0px 256px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

    &__heading {
        font-size: 64px;
        margin-bottom: 16px;
        line-height: 1;
    }

    &__left,
    &__right { 
    flex: 1;
    text-align: center;
    }   

    &__description {
        max-width: 256px;
        margin-right: auto;
        margin-left: auto;

        @media screen 
        and (max-device-width: 1000px) {
            margin-bottom: 64px;
        }
    }

    &__item {
        margin-bottom: 32px;
    }

    &__item,
    &__primary-email,
    &__description {
        font-size: 22px;
    }

    @media screen 
    and (min-device-width: 1201px)
    and (max-device-width: 1600px){
        margin: 0px 128px;
    }

    @media screen 
    and (min-device-width: 1001px)
    and (max-device-width: 1200px) {
        margin: 0px 64px;
    }

    @media screen 
    and (max-device-width: 1000px) {
        flex-direction: column;
        margin: 0px 8px;
        margin-top: 32px;
    }
}

