.header {
    display: flex;
    justify-content: center;
    background-color: #41424C;

    :not(:last-child) {
        margin-right: 40px;
    }

    &__link {
        margin: 8px 0px;
        font-size: 22px;
        color: #FAFDF3;
    }
}


