.projects {
    flex: 1;

    &__header {
        font-size: 48px;
        text-align: center;
        margin: 36px 0px;
        color: #CE5C93;
    }

    &__grid {
        display: flex;
        justify-content: center;
    }
}