* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Poppins';
    background-color: #FAFDF3;
}

.container {
    display: flex;
    flex-flow: column;
    height: 100vh;
    color: #41424C;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

